[general]
live_config_reload = true
import = [
    "~/.config/alacritty/themes/dracula.toml"
]

[window]
padding = { x = 0, y = 0 }
# opacity = 0.9 透明度
blur = true
option_as_alt = "Both"

[scrolling]
history = 100000

[cursor]
style = "Block"

[font]
size = 12.0
offset = { x = 0, y = 2 }
normal = { family = "Moralerspace Neon", style="Regular" }
bold = { family = "Moralerspace Neon", style="Bold" }
italic = { family = "Moralerspace Neon", style="Italic" }
bold_italic = { family = "Moralerspace Neon", style="Bold Italic" }

[terminal]

[terminal.shell]
# 動的にfishやzshを切り替えたいが、うまくいかない
# 基本的にtmuxで操作するので、tmux上で管理するので、当面はalacrittyのshellはzshでOK
# program = "/usr/local/bin/fish"
program = "/bin/zsh"
args = ["--login", "-l", "-c", "tmux new-session -A -s main || tmux"]

[env]
TERM = "xterm-256color" # macOS | Linux

[keyboard]
[[keyboard.bindings]]
action = "ToggleViMode"
key = "Space"
mods = "Command|Control"

# https://github.com/alacritty/alacritty/issues/7608
[[keyboard.bindings]]
chars = "\u001f"
key = "Slash"
mods = "Control"
