.ssh
.aws

# 履歴、キャッシュ
.bash_history
.viminfo

# zsh
dotfiles/.zsh.d/.zcompcache/
dotfiles/.zsh.d/.zcompdump
dotfiles/.zsh.d/.zsh_history
dotfiles/.zsh.d/.zsh_sessions

# fish
dotfiles/fish/conf.d/local.fish
dotfiles/fish/.local

# neovim
dotfiles/lazyvim/lazy-lock.json

# macOS
.DS_Store

# local settings
*.local.*
*.local/
