.ssh
.aws

# 履歴、キャッシュ
.bash_history
.viminfo

# zsh
dotfiles/.zsh.d/.zcompcache/
dotfiles/.zsh.d/.zcompdump
dotfiles/.zsh.d/.zsh_history
dotfiles/.zsh.d/.zsh_sessions

# fish
dotfiles/fish/conf.d/local.fish
dotfiles/fish/.local
dotfiles/fish/conf.d/fish_frozen_*.fish

# neovim
dotfiles/lazyvim/lazy-lock.json

# lazyvim
dotfiles/lazygit/state.yml

# macOS
.DS_Store

# local settings
*.local.*
*.local/
