# see https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md

gui:
  language: 'en'
  nerdFontsVersion: "3"
git:
  branchLogCmd: "git log --graph --color=always --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' {{branchName}} --"
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never
  allBranchesLogCmds:
    - git log --graph --color=always --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --all
customCommands:
  - command: czg
    context: files
    key: <c-c>
    output: terminal
  - command: czg ai
    context: files
    key: <c-C>
    output: terminal
